<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name" >Name</label>
                    <input ngModel name="name" type="text" required id="name" class="form-control">
                </div>
                <!-- вставляємо регулярку -->
                <div class="col-sm-2">
                    <label for="amount">Amount</label>
                    <input
                    pattern="^[1-9]+[0-9]*$"
                    ngModel name="amount" required type="text" id="amount" class="form-control">

                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button class="btn btn-success" [disabled]="f.invalid" type="submit" >{{editMode ? 'Edit':'Add'}}</button>
                        <!-- краше поставити ngif замість disabled -->
                        <button class="btn btn-danger" *ngIf="editMode" (click)="onDelete()" type="button">Delete</button>
                        <button class="btn btn-primary" (click)="clearForm()"  type="button">Clear</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>