<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <ul class="nav nav-tabs">
          <!--routerLink відміняє поведінку силки по замовчуванню  -->
          <!-- так як у всіх шляхів є ''  то роут home буде завжди застилізований тому треба вказати [routerLinkActiveOptions]="{exact:true}"-->
          <li role="presentation" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active"><a routerLink="/">Home</a></li>
          <li role="presentation" routerLinkActive="active"><a routerLink="/servers">Servers</a></li>
          <li role="presentation" routerLinkActive="active"><a [routerLink]="['/users']">Users</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <!-- директива -->
        <router-outlet></router-outlet>
      </div>
    </div>
  
  </div>
  